<div>
  <h1>{{name}}</h1>

  <hr />

  <h3>Users</h3>

  {{#each users}}
    <p>id: {{id}}</p>
    <p>name: {{name}}</p>
    <p>gender: {{gender}}</p>
    <p>age: {{age}}</p>

    <h3>Friends</h3>

    {{#each friends}}
      <p>id: {{id}}</p>
      <p>name: {{name}}</p>
      <p>gender: {{gender}}</p>
      <p>age: {{age}}</p>

      <h3>Mutual_friends</h3>

      {{#each mutual_friends}}
        <p>id: {{id}}</p>
        <p>name: {{name}}</p>
        <p>gender: {{gender}}</p>
        <p>age: {{age}}</p>

        {{#each members}}
          <p>id: {{id}}</p>
          <p>name: {{name}}</p>
          <p>gender: {{gender}}</p>
          <p>age: {{age}}</p>
        {{/each}}
      {{/each}}

      {{#each groups}}
        <p>id: {{id}}</p>
        <p>name: {{name}}</p>
        <p>description: {{description}}</p>
      {{/each}}
    {{/each}}

  {{/each}}

</div>