<div>
  <section class='row-12'>
      {{#with navigation}}
        {{#each links}}       
          <a href='{{href}}' class='col-3'>{{text}}</a>
        {{/each}}
          <btn class="btn btn-primary" href='{{button.href}}'>{{button.text}}</a>
        </btn>
      {{/with}}

<br>
<br>
<br>

      {{#with header}}
        <h1>{{title}}</h1>
        <p>{{description}}</p>   
          <btn class='btn btn-primary' href='{{button.link}}'>{{button.text}}</btn>
      {{/with}}

<br>
<br>
<br>

      {{#with city}}
        <h2>{{title}}</h2>
        <div class="row">
        {{#each cards}}
          
          <div class="col-6 g-2">
            <div class="card">
         <img class="card-img-top"
              src='{{picture.srs}}'
              alt='{{picture.alt}}'
            />
            <div class="card-body">
          
          <h5 class="card-title">{{title}}</h5>
            <p>{{description}}</p>
            <a href='{{button.href}}'></btn target="_blank" class='btn btn-primary'>{{button.text}}</btn></a>
        </div>
        </div>
        </div>

        {{/each}}
        </div>
      {{/with}}

<br>
<br>
<br>

      

        {{#with winner}}
          

            <h2>{{title}}</h2>

            {{#with table}}
<table class='table table-bordered'>
              <thead>
                <tr>
                  {{#each head}}
                  <th>{{this}}</th>
                  {{/each}}
                </tr>
              </thead>
              <tbody>               
                  <tr>
                    <td>{{user.[0].place}}</td>
                    <td>{{user.[0].name}}</td>
                    <td>{{user.[0].surname}}</td>
                    <td>{{user.[0].nickname}}</td>
                  </tr>
                  <tr>
                    <td>{{user.[1].place}}</td>
                    <td>{{user.[1].name}}</td>
                    <td>{{user.[1].surname}}</td>
                    <td>{{user.[1].nickname}}</td>
                  </tr>
                  <tr>
                    <td>{{user.[2].place}}</td>
                    <td>{{user.[2].name}}</td>
                    <td>{{user.[2].surname}}</td>
                    <td>{{user.[2].nickname}}</td>
                  </tr>
                </tbody>
              </table>
            {{/with}}
        {{/with}}

<br>
<hr>

      {{#with gallery}}
        <h2>{{title}}</h2>
        {{#each cards}}
          <p>{{name}}</p>
          <p>{{items}}</p>
        {{/each}}
      {{/with}}

      {{#with relaxion}}
        <div class='display-3'>{{title}}</div>
        {{#each cards}}
          <p>{{header}}</p>
          <p>{{title}}</p>
          <p>{{description}}</p>
        {{/each}}
      {{/with}}

      {{#with rest}}
        {{#each cards}}
          <h2>{{header}}</h2>
          <p>{{title}}</p>
          <p>{{description}}</p>
          <button
            class='btn btn-primary'
          >{{button}}</button>
          <footer>{{footer}}</footer>
        {{/each}}
      {{/with}}

    <div class="row">   
      <div class="mt-2"> 
        {{#with proposition}}
          <div class='display-2'>{{title}}</div>
          <div class='card text-bg-warning'>
          {{#each card}}
            <div class="card-header">{{header}}</div>
            <h6 class="card-title">{{title}}</h6>
            <p>{{description}}</p>
          {{/each}}
        {{/with}}
      </div>    
      </div>    
    </div>

      {{#with footer}}
        <h5>{{title}}</h5>
        {{#each navigation}}
          <p>{{text}}</p>
          <a href='#'>{{href}}</a>
        {{/each}}
        {{#each socialMedia}}
          <p>{{name}}</p>
          <button class='btn-outline-dark'>{{link}}</button>
        {{/each}}
        {{#each partners}}
          <p>{{name}}</p>
          <button class='btn-outline-link'>{{link}}</button>
        {{/each}}
      {{/with}}
    

  </section>
  </div>
</main>